* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  background: #121214;
}

body {
  background: #121214;
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0 auto;

}

body main header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main header nav {
  background: #2e2e33;
  width: 100%;
  margin-bottom: 2rem;

  display: flex;
  align-items: center;
  padding: 2rem;
}

body main header nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

body main header nav ul li {
  height: 24px;
}

body main header nav ul li a i{
  font-size: 24px;
}
body main header nav ul li a {
  text-decoration: none;
  color: white;
}

body main header h2 {
  font-size: 1.2rem;
  color: #52525c;
  font-weight: 500;
}

body main header >  a {
  text-decoration: underline;
  margin-top: 2rem;
  color: #737382;

  display: flex;
  flex-direction: column;
}

body main section {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body main section form select {
  padding: 1rem 2rem;
  background: #2e2e33;
  font-weight: 600;
  border-radius: 8px;
  color: white;
  border: 2px solid transparent;
  text-align: center;
}

body main section form select:focus {
  border: 2px solid #7159c1;
}

body main section ul {
  margin-top: 2rem;
  list-style-type: none;
  padding-bottom: 2rem;
}

body main section ul li {
  padding: 2rem;
  background: #2e2e33;
  width: 100%;
  border-radius: 8px;
  display: flex;

  flex-direction: column;
  text-align: left;
  transition: filter 0.2s;
}

body main section ul li:hover {
  filter: brightness(1.3);
  transition: filter 0.2s;
}

body main section ul li:hover a {
  color: #7159c1;
}

body main section ul li + li {
  margin-top: 2rem;
}

body main section ul li a {
  text-decoration: none;
  color: white;
}
/* body main section ul li::after {
  content: url("./assets/arrow-right-circle.svg");

  margin-left: 2rem;
  font-size: 0;
  background: #7159c1;
  stroke: white;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
} */

section.hidden {
  display: none;
}

section.show {
  position: fixed;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
}
